@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// COLORS
$color-primary: #cf1010;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ccc;
$color-grey-dark-1: #777777;
$color-text: #333333;
$color-white: #ffffff;
$color-black: #000000;

// FONT
$font-primary: "Bebas Neue", sans-serif;
$default-font-size: 1.6rem;

// MARGIN
$margin-bottom-sm: 2rem;
$margin-bottom-md: 4rem;
$margin-bottom-lg: 8rem;

$margin-top-sm: 2rem;
$margin-top-md: 4rem;
$margin-top-lg: 8rem;

// GRID
$grid-gap: 6rem;
